*{
    margin: 0;
    padding: 0;
    font-size: 16px;
}
.appWrapper{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(52, 88, 165);
}
.btnToggle{
    
    padding: 30px 40px;
    border: 1px solid black;
    border-radius: 10px;
}
.btnToggle:focus{
    outline: none;
}

.addDark{
    background-color: rgb(16, 16, 16);
}